{% extends 'base.html.twig' %}



{% block body %}


    <h1>Articles</h1>

    <div id="articles">

      {% for article in articles %}

          {% set provider = provider_manager.getOne(article.provider) %}
          {% set coverUrl = article.coverUrl ? article.coverUrl : '/img/' ~ article.provider ~ '.jpg' %}

          <div class="article">
            <div class="thumbnail">
              <figure>
                <a href="{{article.url}}" target="_blank">
                  <img src="{{coverUrl}}" alt="{{article.title}}" />
                </a>
              </figure>
            </div>
            <div class="content">
              <h2>
                <a href="{{article.url}}" target="_blank">
                  {{ article.title }}
                </a>
              </h2>

              <p class="article-meta">
                {{ article.publishedAt | localizeddate('medium', 'none', 'fr') }}
                - <a href="{{ provider.url }}" target="_blank">{{ provider.name }}</a>
                {% if article.author and article.author != provider.name and article.author != article.provider %}
                - <a href="#">{{ article.author }}</a>
                {% endif %}

              </p>

              <p class="article-description">
                {{article.description }}
              </p>

            </div>

          </div>

      {% endfor %}
    </div>


{% endblock %}
